* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     font-weight:bold;
       font-family: 'Permanent Marker', cursive;
}

body{
  background:rgba(91, 21, 21, 1);
  background: url("../images/vegasbg.jpg") no-repeat;
  background-size: cover;
  height:400px;
}
button{
  float: left;
  margin: 5px 5% 0 9%;
  height:50px;
  width: 10%;
  font-size: 2.0em;
  border-style: none;
  color: white;
  background: url(""); /*blank to have no background just bets*/
  border-bottom: 3px dashed black;
  border-style:
}
footer{
  font-size: 1.4em;
  float: left;
  margin:1% 0 0 24%;
  padding:2.5% 0 0 2%;
  height:150px;
  width: 30%;
  background: url("") no-repeat;
  color: rgb(187, 7, 7);
  /* background-position: left;
  border-radius: 5px;
  border: 3px ridge black;
  border-style: */
}
h1{
  float: left;
  font-size: 3.5em;
  margin: .1% 1% 0 30%;
  color: rgb(187, 7, 7);
}
h2{
  font-size: 1.8em;
  /* border: 2px solid rgba(213, 215, 40, 1); */
  /* border-radius: 30%; */
  float: left;
  margin: 1% 2% 0 5%;
  color:rgb(187, 7, 7);
}
h3{
  font-size: 1.2em;
  float: left;
  margin-left: 1%;
}
h4{
  float: left;
}
h6{
  float: left;
  color: white;
  margin: 0 0 0 10%;
  font-size: 1.2em;
}
img{
  float: left;
  height:240px;
  width:100%;
  border-radius: 5px;
}

.buttonContain{
  height:80px;
  width:80%;
  margin-left: 10%;
  float: left;
  /* border-bottom: 3px dotted black; */
}
.reelContainer{
  float: left;
  height:280px;
  width:70%;
  border: 5px ridge black;
  border-radius: 10px;
  margin: 1% 0 0 15%;
}

.slot{
  height:260px;
  width:32%;
  margin: 1% 0 0 1%;
  float: left;
  border: none;
  border-radius: 5px;
}
.tracking{
  float: left;
  margin: 0   0  1% 0%;
  border: 2px solid rgba(18, 3, 69, 1);
  height:160px;
  font-size: 1em;
  width: 40%;
  border-radius: 5px;
  background: url("../images/lighting.gif");
  color: white;
}
 #credits, #totalBet{
  width:45%;
}
#trackWinnings, #winLose{
  width:45%;
}
